@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    padding: 10px;
    position: relative;
}

.close {
    display: none;
}

.home ul li {
    display: flex;
    gap: 15px;
    list-style: none;
    width: 14px;
    padding-top: 14px;
    font-weight: bold;
}

.ham-search {
    display: none;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
    padding: 23px 14px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 75vh;
    position: relative;
}

.footer {
    display: flex;
    gap: 12px;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: grey;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #34495E;
    border-radius: 7px;
    align-items: center;
}

.header > * {
    padding: 20px;
}

.ham-search input, .search input{
    color: white;
    width: 30dvw;
    padding: 15px 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #464e4ec4;
}

.search input:focus {
    background-color: #3d4444c4;
}

.spotifyPlaylists {
    padding: 16px;
    min-height: 79vh;
}

.spotifyPlaylists h1 {
    padding: 16px 0 0;
    font-size: 22px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 50vh;
    overflow-y: auto;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    background-color: #464e4ec4;
    position: relative;
    transition: all 0.9s;
}

.card:hover {
    background-color: #303636c4;
    cursor: pointer;
    --a: 1;
}

.card >* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.card h2 {
    font-size: 18px;
    font-weight: 500;
}

.card p {
    font-size: 14px;
    color: #b3b3b3;
}

.play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background-color: #FF6F61;
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    right: 17px;
    bottom: 88px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.buttons >* {
    margin: 0 12px;
}

.signupbtn {
    background-color: transparent;
    color: #FF6F61;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}
.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn {
    border-radius: 21px;
    background-color: #FF6F61;
    color: white;
    padding: 10px;
    width: 83px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: bold;

}

.loginbtn:hover {
    transform: scale(1.03);
}

.playbar {
    position: fixed;
    bottom: 30px;
    width: calc(70vw - 40px);
    filter: invert(1);
    background: #CFB5A2;
    border-radius: 10px;
    padding: 12px;
    min-height: 40px;
}

.songButtons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songList {
    height: 344px;
    overflow: auto;
    margin-bottom: 44px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburgerContainer {
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.songList ul {
    padding: 0 10px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 12px 0;
    border: 2px solid #464e4ec4;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
    justify-content: space-between;
}

.songList .info {
    font-size: 13px;
    width: 344px;
}

.info div {
    word-break: break-all;
}

.playNow {
    display: flex;
    justify-content: center;
    align-items: center;

}

.playNow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekBar {
    height: 4px;
    width: calc(70vw - 56px);
    background:  black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 6px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

.songButtons img {
    cursor: pointer;
}

.timeVol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.songInfo {
    color: black;
    padding: 0 12px;
    width: 252px;
}

.songTime {
    color: black;
    padding: 0 12px;
    width: 125px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.range input{
    cursor: pointer;
}

.aboveBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

@media screen and (max-width: 1200px) {
    
    .left {
        background-color: #1F1F1F;
        position: absolute;
        left: -300%;
        transition: left 0.3s;
        z-index: 1;
        width: 373px;
        padding: 0;
        height: 100vh;
    }

    .songInfo, .songTime {
        width: auto;
    }

    .close {
        display: block;
        position: absolute;
        right: 31px;
        top: 25px;
    }

    .timeVol {
        flex-direction: column;
        gap: 13px;
    }

    .right {
        width: 100vw;
        margin: 0;
    }

    .playbar {
        width: calc(100vw - 85px);
    }

    .seekBar {
        width: calc(100vw - 103px);
    }

    .hamburger {
        display: block;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
    }

    .card {
        width: 44vw;
    }

    .aboveBar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .spotifyPlaylists h1 {
        padding: 0px 0px 16px 10px;
    }
}

@media screen and (max-width: 763px) {
    
    .card {
        width: 100%;
    }

    .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 32vh;
    }

    .header > * {
        padding: 20px 8px;
    }

    .search {
        display: none;
    }

    .ham-search {
        margin-top: 14px;
        display: block;
    }

    .ham-search input {
        width: 80dvw;
    }

    .library {
        height: 77vh;
    }

    .left {
        position: fixed;
        top: 0;
        width: 100vw;
    }

    .playbar {
        border: 2px solid #00909e;
    }


}

@media screen and (max-width: 370px) {

    .buttons >* {
        margin: 0;
    }

    .signupbtn {
        margin-right: 1px;
    }

}